<h2>PHOTOGRAPHY - PEPOLE</h2>
<script>
  jQuery(function($){
    // alert('hello');
    $("#slider").easySlider({
      auto: true, 
      continuous: true,
      nextId: "slider1next",
      prevId: "slider1prev"
    });    
  });

</script>

<div class="container">
<div id="slider">
   <ul>
      <li><img alt="Photo1" src="/assets/photo1.png" width="100%" /></li>
      <li><img alt="Photo2" src="/assets/photo2.png" width="100%" /></li>
      <li><img alt="Photo3" src="/assets/photo3.png" width="100%" /></li>
      <li><img alt="Photo4" src="/assets/photo4.png" width="100%" /></li>     
    </ul>
  </div>  
</div>

