<h2>PHOTOGRAPHY - PEPOLE</h2>
<script src="/assets/easySlider1.7.js?body=1" type="text/javascript"></script>
<script type="text/javascript"> 
  jQuery(function($){
    jQuery("#slider").easySlider({
      auto: true, 
      continuous: true,
      nextId: "slider1next",
      prevId: "slider1prev"          
    });    
  }); 
</script>

<div class="container">
  <div id="slider">
    <ul>      
      <% AlbumImage.all.each do |album_image|  %>
        <li><%= image_tag album_image.album_image.url(:slider) %></li>     
      <% end %>
    </ul>
  </div>  
</div>