<h2>PHOTOGRAPHY - PEPOLE</h2>
<script type= "text/javascript">
  jQuery(document).ready(function($){
    $("#slider").easySlider({
      auto: true, 
      continuous: true,
      nextId: "slider1next",
      prevId: "slider1prev"          
    });    
  }); 
</script>

<div class="container">
  <div id="slider">
    <ul>      
      <% AlbumImage.all.each do |album_image|  %>
        <li><%= image_tag album_image.album_image.url(:large) %></li>     
      <% end %>
    </ul>
  </div>  
</div>