<!-- raviiiiiiiiiiiiiiiiiiiiii-->
<div class="header">
	<div class="top-menu">
    <%#= link_to "GALLERY", :controller=>"albums", :action=>"image_album", :id=>1 %>
  	<%= link_to "GALLERY", admin_albums_path %> |
    <%= link_to "SET PAGES", admin_pages_path %> 
    <%= link_to "Signout", admin_logout_path %> 
  </div>
  <div class="logo"><%= link_to image_tag('poonam_logo.png'), root_url%></div>
</div>
